<section th:fragment="actividades" class="actividades">
    <div class="card-group">
        <div class="card">
            <a th:href="@{/alojamiento/list}"><img src="/images/portada-hoteles.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="card-title">ALOJAMIENTOS</h4>
                <h5><a th:href="@{/alojamiento/list}"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo en
                        alojamientos</a></h5>
                <h5> <a th:href="@{/alojamiento/form}"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar un
                        alojamiento</a></h5>
            </div>

        </div>
        <div class="card">
            <a th:href="@{/restaurant/list}"><img src="/images/portada-restaurantes.jpg" class="card-img-top"
                    alt="..."></a>
            <div class="card-body">
                <h4 class="card-title">GASTRONOMIA</h4>
                <h5 class="card-options" ><a th:href="@{/restaurant/list}"><img src="/images/iconos/ver-32.png" alt="..." />
                        Ver todo en
                        gastronomia</a></h5>
                <h5><a th:href="@{/restaurant/form}"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar local
                        gastronomico</a></h5>
            </div>
        </div>
    </div>
</section>