<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/head.css}" rel="stylesheet" />
    <link th:href="@{/css/zonas.css}" rel="stylesheet" />
    <link th:href="@{/css/listas.css}" rel="stylesheet">
    <link th:href="@{/css/formularios.css}" rel="stylesheet">
    <link th:href="@{/css/detalles.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/fonts/icomoon/style.css}" rel="stylesheet" />
    <title>Rincones Mendoza</title>
    <link rel="icon" th:href="@{/images/favicon.png}">

</head>