<header th:fragment="navbar" class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">


            <div class="site-logo">
                <a th:href="@{/}" class="text-black"><span class="text-primary">
                        <img src="/images/logo.png" alt="Rincones Mendoza"></a>
                </a>
            </div>

            <div class="col-12">
                <nav class="site-navigation text-right ml-auto " role="navigation">

                    <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">



                        <li class="has-children">
                            <a href="#">Paginas Prueba</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/usuario/form}"> Usuario form</a></li>
                                <li><a th:href="@{/usuario/list}"> usuario list</a></li>
                                <li><a th:href="@{/zona/form}"> zona form</a></li>
                                <li><a th:href="@{/zona/list}"> zona list</a></li>
                                <li><a th:href="@{/comentario/form}"> comentario form</a></li>
                                <li><a th:href="@{/comentario/list}"> comentario list</a></li>
                                <li><a th:href="@{/alojamiento/form}"> alojamientos form</a></li>
                                <li><a th:href="@{/restaurant/form}"> restaurantes form</a></li>
                                <li><a th:href="@{/actividad/form}"> actividades form</a></li>
                            </ul>
                        </li>

                        <li class="has-children">
                            <a href="#">Zonas</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/zona/zona1}">Valle de Uco</a></li>
                                <li><a th:href="@{/zona/zona2}">Precordillera y Alta Montaña</a></li>
                                <li><a th:href="@{/zona/zona3}">Gran Mendoza</a></li>
                                <li><a th:href="@{/zona/zona4}">Zona Sur</a></li>
                                <li><a th:href="@{/zona/zona5}">Zona Este</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Actividades</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/alojamiento/list}">Alojamiento</a></li>
                                <li><a th:href="@{/restaurant/list}">Gastronomía</a></li>
                                <li><a th:href="@{/actividades/list}">Actividades</a></li>
                            </ul>
                        </li>

                        <li>
                            <a sec:authorize="!(isAuthenticated())" th:href="@{/login}">Ingresar</a>
                            <a sec:authorize="!(isAuthenticated())" th:href="@{/usuario/form}">Registrarse</a>
                            <a sec:authorize="(isAuthenticated())" th:href="@{/logout}">Salir</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="toggle-button d-inline-block d-lg-none"><a href="#"
                    class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>
</header>