.banner-form {
  background-image: url(../images/banner-2.png);
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
}

.titulo-banner-form {
  display: flex;
  color: #ffffff;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px auto 0;
  padding: auto;
}

.descripcion {
  background-color: #777772;
  padding: 120px 30px;
}

.escrito-descripcion {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}

@media (min-width: 1441px) {
  .escrito-descripcion {
    font-size: 1.5rem;
  }
}
label,
.textos-form {
  color: #292828;
}

.coluno {
  background-image: url(../images/zonas/hotel-potre.jpg);
  height: 100%;
  display: table-cell;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.titulo-registro {
  display: flex;
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px auto 0;
  padding: auto;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 33%;
}
.cuerpotabla {
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-top: 9%;
  padding-bottom: 40%;
}
.coluno-registro {
  background-image: url(../images/zonas/Recorrido-en-Bodegas.jpg);
  height: 100%;
  display: table-cell;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.nuevoton {
  color: #fff;
  background-color: #740128;
  border-color: #740128;
}
.nuevoton:hover {
  color: #000;
  background-color: #ffa400;
  border-color: #ffa400;
}
