.carousel-lista {
    background-color: #212121;
    padding: 5% 5% 10% 5%;
    color:white
}
.tabla {
    color: #740128;
}
.boton {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
p {
    color: #000000;
    font-weight: 500;
    line-height: 7px;
}