@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  gap: 2em;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

/******Navegador******/
.navbargral {
  background-color: #ffffff;
  padding-left: 35%;
}

/****** Banner Principal ******/

.carousel-inner {
  background-image: url(../images/banner-1.png);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20% 10% 20% 10%;
  color: white;
}

.titulo-banner-1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px auto 0;
}

.escrito-banner-1 {
  font-size: 1.5rem;
  text-align: center;
  color: #f7f0f0;
  font-weight: 600;
}

/****** Zonas y Actividades ******/
.zonas,
.actividades {
  margin: 5% 10% 3% 10%;
  align-items: center;
}
/*.banner-secundario{
  background-color: ;
}*/

.row {
  margin-top: 1%;
  margin-bottom: 2%;
}

.img-fluid {
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.79);
  box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.79);
}

.card {
  padding: 1%;
  border: 0px;
  border-radius: 0%;
}
.card-img-top {
  box-shadow: 0px 5px 5px -1px rgb(0 0 0 / 32%);
}
.card-title {
  font-size: 30px;
  font-weight: 700;
  color: #292828;
  text-align: center;
  text-transform: uppercase;
}

.actividades {
  background-color: rgb(3, 68, 68);
}

/*.textos {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Banner Secundario */
#testimonials{
  color: #020202;
  font-size: 8rem;
  text-align: center;
  background-image: url(../images/banner-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 150px;
}

/*Pie de pagina*/
footer {
  background-color: #222;
  padding: 3rem;
  color: white;
}

footer section {
  float: right;
}

footer p {
  margin: 0;
}
/*Aca le estamos cambiando el color a nuestro link*/
footer a {
  /*con el transition estamos dandole una animacion mas suave al link */
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}
/*aca le estamos dando la transicion*/
footer a:hover {
  color: rgb(6, 86, 233);
}

.footer-link-list {
  display: flex;
  align-items: center;
}

.footer-link-list > * + * {
  margin-left: 20px;
}
