a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

/******Navegador******/
.navbargral {
  background-color: #ffffff;
  padding-left: 35%;
}

/****** Banner Principal ******/
.carousel-inner {
  background-image: url(../images/banner-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20% 10% 20% 10%;
  color: white;
}

/*.textos-banner-1 {
  -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.79);
  box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.79);
}*/

/****** Zonas y Actividades ******/
.zonas,
.actividades {
  margin: 3% 10% 3% 10%;
}

.row {
  margin-top: 2%;
  margin-bottom: 2%;
}

.img-fluid {
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.79);
  box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.79);
}

.card {
  padding: 1%;
}

.actividades {
  background-color: rgb(3, 68, 68);
}

/*.textos {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Banner Secundario */
#testimonials {
  color: white;
  background-image: url(../images/banner-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  padding: 180px;
}
