/****** Banner zonas ******/

.carousel-slide {
  background-image: url(../images/banner-2.png);
  opacity: 0.9;
  background-repeat: round;
  background-size: 100%;
  padding: 20% 10% 20% 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
}

.titulo-banner-zona {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px auto 0;
}

.escrito-descripcion {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}

@media (min-width: 1441px) {
  .escrito-descripcion {
    font-size: 1.5rem;
  }
}

.descripcion {
  background-color: #777772;
  padding: 120px 30px;
}

.titulo-Act {
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0px auto 0;
  padding: 30px 0px;
}
.titulo-2 {
  font-size: 4rem;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}
.titulo-3 {
  font-size: 4rem;
}
.titulo-4 {
  font-size: 1.5rem;
}
.ubicacion {
  /*background-color:#fffbf3;*/
}
.mapa {
  padding: 100px 500px;
}
