<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <!-- ***Navbar*** -->
    <nav th:replace="/fragments/navbar :: navbar"></nav>

    <!--****** Banner Principal ******-->

    <div class="container">

        <body class="card ms-auto">
            <div class="card-header d-flex">
                <h1>RECOMENDAR ACTIVIDAD</h1>
                <p>En esta sección podes subir lugares que quieras recomendar a otros usuarios. Recordá que deben
                    ser lugares ubicados dentro de la Provincia de Mendoza, en cualquiera de sus cinco zonas.</p>
                <button class="btn btn-dark px-5 py-2 ms-auto"><a th:href="@{/restaurant}"> Ver lista de
                        actividades </a></button>
            </div>

            <div class="mb-3">
                <label for="imagen" class="form-label">Foto</label>
                <input type="file" class="form-control" name="file" id="imagen"></input>
            </div>

            <div style="text-align: center" class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>



            <!--****** Actividades ******-->

            <section class="actividades">
                <div class="card-group">
                    <div class="card">
                        <img src="/images/portada-hoteles.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">ALOJAMIENTOS</h4>
                            <h5><a href="alojamientos.html"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo
                                    en
                                    alojamientos</a></h5>
                            <h5><a href="alojamientos.html"><img src="/images/iconos/agregar-32.png" alt="..." />
                                    Agregar un
                                    alojamiento</a></h5>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/portada-restaurantes.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">GASTRONOMIA</h4>
                            <h5><a href="gastronomia.html"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo en
                                    gastronomia</a></h5>
                            <h5><a href="gastronomia.html"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar
                                    local
                                    gastronomico</a></h5>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/portada-actividades.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">ACTIVIDADES</h4>
                            <h5><a href="actividades.html"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo en
                                    actividades</a></h5>
                            <h5><a href="actividades.html"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar
                                    actividad</a></h5>
                        </div>
                    </div>
                </div>
            </section>s
        </body>

</html>