<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <!-- ***Navbar*** -->
    <nav th:replace="/fragments/navbar :: navbar"></nav>

    <!--****** Banner Principal ******-->

    <div class="container">

        <body class="card ms-auto">
            <div class="card-header d-flex">
                <h1>RECOMENDAR ACTIVIDAD</h1>
                <p>En esta sección podes subir lugares que quieras recomendar a otros usuarios. Recordá que deben
                    ser lugares ubicados dentro de la Provincia de Mendoza, en cualquiera de sus cinco zonas.</p>
                <button class="btn btn-dark px-5 py-2 ms-auto"><a th:href="@{/restaurant}"> Ver lista de
                        actividades </a></button>
            </div>

            <div class="mb-3">
                <label for="imagen" class="form-label">Foto</label>
                <input type="file" class="form-control" name="file" id="imagen"></input>
            </div>

            <div style="text-align: center" class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>


            <!--****** Actividades ******-->

            <section th:replace="/fragments/actividades :: actividades"></section>

            <!--****** Footer ******-->
            <footer th:replace="/fragments/footer :: footer"></footer>
        </body>

</html>