<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

    <header th:replace="/fragments/navbar :: navbar"></header>

    <!--****** Banner Principal ******-->
    <div id=" carouselExampleSlidesOnly" class="carousel-lista" data-bs-ride="carousel">
        <div class=" carousel-lista">
            <div class="carousel-item active">
                <div class="banner">
                    <h1 class="titulo-banner-zona">LISTA DE ALOJAMIENTOS</h1>
                </div>
            </div>
        </div>
    </div>

    <!--****** Lista de Alojamientos ******-->


    <div class="container">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="card mt-3">
            <div class="d-flex">
                <button class="boton btn btn-primary"><a th:href="@{/alojamiento/form}">Crear Alojamiento</a></button>
            </div>
            <div class="card-body">
                <form class="row g-3" th:action="@{/alojamiento/list}" method="GET">
                    <div class="col">
                        <input type="text" style="width: 100%;" name="q" placeholder="Buscar...">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>

                <table class="table table-dark table-striped">
                    <tbody class="tabla">
                        <tr th:each=" c,iterator : ${alojamiento} ">
                            <div class="tabla" id="secwrapper">
                                <section>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <a href="#"><img class="imag" src="../images/alta-montaña.jpg"
                                                        alt="" /></a>
                                            </div>
                                            <div class="col">
                                                <h1 th:text="${c.nombre}"></h1>
                                                <p th:text="${c.zona}"></p>
                                                <p th:text="'Domicilio: ' + ${c.domicilio}"></p>
                                                <p th:text="'Teléfono: ' + ${c.telefono}"></p>
                                                <p th:text="'Web: ' + ${c.web}"></p>
                                                <p th:text="'Rango de precios: ' + ${c.rangoDePrecios}"></p>
                                                <p th:text="'Tipo Alojamiento: ' + ${c.TipoAlojamiento}"></p>
                                                <p th:text="${c.aireAcondicionado} ? 'A/C: Si' : 'A/C: No'"></p>
                                                <p th:text="${c.wifi} ? 'WiFi: Si' : 'WiFi: No'"></p>
                                                <p
                                                    th:text="${c.estacionamiento} ? 'Estacionamiento: Si' : 'Estacionamiento: No'">
                                                </p>
                                                <p th:text="${c.desayuno} ? 'Desayuno: Si' : 'Desayuno: No'"></p>
                                                <p th:text="${c.pileta} ? 'Pileta: Si' : 'Pileta: No'"></p>
                                            </div>
                                        </div>
                                        <div class="vermas">
                                            <a class="boton btn btn-primary" th:href="@{/views/productos/detalle/}+${c.id}"| th:text="${c.id}">
                                            <a href="#" class="boton btn btn-primary">Ver Más</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </tr>
                    </tbody>
                    <p th:if="${alojamiento.isEmpty}">No hay alojamientos para mostrar</p>
                </table>
            </div>
        </div>
    </div>


    <!--****** Actividades ******-->

    <section class="actividades">
        <div class="card-group">
            <div class="card">
                <img src="/images/portada-hoteles.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">ALOJAMIENTOS</h4>
                    <h5><a href="alojamientos.html"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo en
                            alojamientos</a></h5>
                    <h5><a href="alojamientos.html"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar un
                            alojamiento</a></h5>
                </div>
            </div>
            <div class="card">
                <img src="/images/portada-restaurantes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">GASTRONOMIA</h4>
                    <h5><a href="gastronomia.html"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo en
                            gastronomia</a></h5>
                    <h5><a href="gastronomia.html"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar local
                            gastronomico</a></h5>
                </div>
            </div>
            <div class="card">
                <img src="/images/portada-actividades.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">ACTIVIDADES</h4>
                    <h5><a href="actividades.html"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo en
                            actividades</a></h5>
                    <h5><a href="actividades.html"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar
                            actividad</a></h5>
                </div>
            </div>
        </div>
    </section>

    <!--****** Footer ******-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>