<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
    <header th:replace="/fragments/navbar :: navbar"></header>
    <table class="table table-dark table-striped">
        <tbody class="tabla">
            <tr th:each=" c : ${alojamiento} ">
                <!--****** Banner Principal ******-->
                <div class="bann-detalle">
                    <div class="carousel-item active">
                        <div class="titulobanner">
                            <h1 th:text="${c.nombre}"></h1>
                        </div>
                    </div>
                </div>
                <!--****** Banner Principal ******-->
                <div class="tabla detalles" id="secwrapper">
                    <section>
                        <div class="ubidetalle">
                            <div class="row">
                                <div class="col">
                                    <img class="imag" th:src="@{'../images/locacion/' + ${c.foto}}">
                                </div>
                                <div class="col">
                                    <p th:text="'Zona: ' + ${c.zona.nombre}"></p>
                                    <p th:text="'Domicilio: ' + ${c.domicilio}"></p>
                                    <p th:text="'Teléfono: ' + ${c.telefono}"></p>
                                    <p th:text="'Web: ' + ${c.web}"></p>
                                    <p th:text="'Rango de precios: ' + ${c.rangoDePrecios}"></p>
                                    <p th:text="'Tipo Alojamiento: ' + ${c.TipoAlojamiento}"></p>
                                </div>
                                <div class="col">
                                    <p th:text="${c.aireAcondicionado} ? 'A/C: Si' : 'A/C: No'"></p>
                                    <p th:text="${c.wifi} ? 'WiFi: Si' : 'WiFi: No'"></p>
                                    <p th:text="${c.estacionamiento} ? 'Estacionamiento: Si' : 'Estacionamiento: No'">
                                    </p>
                                    <p th:text="${c.desayuno} ? 'Desayuno: Si' : 'Desayuno: No'"></p>
                                    <p th:text="${c.pileta} ? 'Pileta: Si' : 'Pileta: No'"></p>
                                    <p th:text="'Estrellas: ' + ${c.estrellas}"></p>
                                </div>

                                <div class="crearcomment">

                                <div class="crearcomment" sec:authorize="isAuthenticated">
                                    <a th:href="@{/comentario/form}+'?id='+${c.id}"><button
                                            class="boton btn btn-primary">Crear Comentario</button></a><br>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </tr>
        </tbody>
    </table>
    <table>
        <tr th:each="p : ${comentarios}">
            <p th:text="${p.opinion}"></p>
        </tr>
    </table>
    <!--****** Actividades ******-->
    <section th:replace="/fragments/actividades :: actividades"></section>
    <!--****** Footer ******-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>