<<!DOCTYPE html>
    <html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"></head>


    <body>
        <nav th:replace="/fragments/navbar :: navbar"></nav>

        <div class="container">
            <div class="card ms-auto">
                <div class="card-header d-flex">
                    <h1>Crear Comentario</h1>
                </div>
                <div class="card-body">
                    <form th:action="@{/comentario/save}" method="POST" th:object="${comentario}" class="col-6 mx-auto">
                        <input hidden th:field="*{id}"> </input>
                        <input hidden th:field="*{locacion}"> </input>
                        <div class="form-floating">
                            <textarea th:field="*{opinion}" class="form-control" placeholder="Leave a comment here"
                                id="floatingTextarea2" style="height: 100px" maxlength="600"></textarea>
                            <label for="floatingTextarea2">Comentarios</label>
                        </div>

                        <div>
                            <label>Puntuación</label>
                            <select th:field="*{puntuacion}">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div style="text-align: center" class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-primary nuevoton">Guardar</button>
                        </div>
                </div>
            </div>
        </div>

        <!--****** Footer ******-->
        <footer th:replace="/fragments/footer :: footer"></footer>
    </body>


    </html>