<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

    <nav th:replace="/fragments/navbar :: navbar"></nav>
    <main class="container">
        <div class="row mt-5">
            <div class="column">
                <div class="display-1 text-center mt-5" style="font-size: 160px; font-weight: bold;"
                    th:text="${codigo}"></div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="column">
                <div class="display-1 text-center mb-5" th:text="${mensaje}"></div>
            </div>
        </div>
    </main>
    <!--JS (Bootstrap)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <!--****** Footer ******-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>