<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragments="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rincones mendoza</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!--CSS (Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/static/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Rincones mendoza</a>
        </div>
    </nav>
    <main class="container">
        <div class="row">
            <div class="column">
                <div class="display-1 text-center"></div>
            </div>
        </div>
    </main>
    <div style="text-align:center">
        <br>
        <h2>Registro</h2>
        <br>
        <button class="btn btn-dark"><a th:href="@{#}" class="pure-menu-link"> Registro </a></button>
        <br> <br>
        <h2>Usuario</h2>
        <br>
        <button class="btn btn-dark"><a th:href="@{#}"> Usuario form</a></button> <br> <br>
        <button class="btn btn-dark"><a th:href="@{#}"> usuario list</a></button> <br> <br>
        <br> <br>
        <h2>Zona</h2>
        <br>
        <button class="btn btn-dark"><a th:href="@{#}"> zona form</a></button> <br> <br>
        <button class="btn btn-dark"><a th:href="@{#}"> zona list</a></button> <br> <br>
        <br> <br>
        <h2>Comentario</h2>
        <br>
        <button class="btn btn-dark"><a th:href="@{#}"> comentario form</a></button> <br> <br>
        <button class="btn btn-dark"><a th:href="@{#}"> comentario list</a></button> <br> <br>
        <br> <br>
        <h2>Alojamientos</h2>
        <br>
        <button class="btn btn-dark"><a th:href="@{#}"> alojamientos form</a></button> <br> <br>
        <button class="btn btn-dark"><a th:href="@{#}"> alojamientos list</a></button> <br> <br>
        <br> <br>
        <h2>Restaurantes</h2>
        <br>
        <button class="btn btn-dark"><a th:href="@{#}"> restaurantes form</a></button> <br> <br>
        <button class="btn btn-dark"><a th:href="@{#}"> restaurantes list</a></button> <br> <br>
        <br> <br>
        <h2>Actividades</h2>
        <br>
        <button class="btn btn-dark"><a th:href="@{#}"> actividades form</a></button> <br> <br>
        <button class="btn btn-dark"><a th:href="@{#}"> actividades list</a></button> <br> <br>
        <br> <br>
    </div>
    <!--JS (Bootstrap)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>