<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

    <header th:replace="/fragments/navbar :: navbar"></header>

    <!--****** Banner Principal ******-->
    <div id=" carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class=" carousel-inner">
            <div class="carousel-item active">
                <div class="banner">
                    <h1 class="titulo-banner-1">BIENVENIDOS</h1>
                    <p class="escrito-banner-1">Viví Mendoza de una manera diferente!<br />
                        Hospedajes, restaurantes, salidas, actividades y más!</p>
                </div>
            </div>
        </div>

    </div>

    <!--****** Seccion Zonas ******-->

    <section class="zonas">
        <div class="row">
            <div class="col">
                <a th:href="@{/zona-1.html}"><img src="/images/uco.jpg" class="img-fluid" alt="Valle de Uco"></a>
            
            </div>
            <div class="col">
                <a th:href="@{/zona-2.html}"><img src="/images/alta-montaña.jpg" class="img-fluid" alt="Alta Montaña"></a>
            </div>
            <div class="col">
                <a href=""><img src="/images/iconos/search-64.png" alt="..."></img></span>
                    <h2>Encontrá lo que buscas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a th:href="@{/zona-3.html}"><img src="/images/lavalle.jpg" class="img-fluid" alt="..."></a>
            </div>
            <div class="col">
                <a th:href="@{/zona-4.html}"><img src="/images/sur.jpg" class="img-fluid" alt="..."></a>
            </div>
            <div class="col">
                <a th:href="@{/zona-5.html}"><img src="/images/este.jpg" class="img-fluid" alt="..."></a>
            </div>
        </div>
    </section>

    <!--****** Seccion Banner Secundario ******-->

    <section id="testimonials" class="">
        <div class="">
            <div class="row">
                <div class="col-lg-12 tm-content-box">
                    <h1>Mendoza</h1>
                    <h3>Un lugar para vos...</h3>
                </div>
            </div>
        </div>
    </section>


    <!--****** Actividades ******-->

    <section class="actividades">
        <div class="card-group">
            <div class="card">
                <img src="/images/portada-hoteles.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">ALOJAMIENTOS</h4>
                    <h5><a href="alojamientos.html"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo en alojamientos</a></h5>
                    <h5><a href="alojamientos.html"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar un alojamiento</a></h5>
                </div>
            </div>
            <div class="card">
                <img src="/images/portada-restaurantes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">GASTRONOMIA</h4>
                    <h5><a href="gastronomia.html"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo en gastronomia</a></h5>
                    <h5><a href="gastronomia.html"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar local gastronomico</a></h5>
                </div>
            </div>
            <div class="card">
                <img src="/images/portada-actividades.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">ACTIVIDADES</h4>
                    <h5><a href="actividades.html"><img src="/images/iconos/ver-32.png" alt="..." /> Ver todo en actividades</a></h5>
                    <h5><a href="actividades.html"><img src="/images/iconos/agregar-32.png" alt="..." /> Agregar actividad</a></h5>
                </div>
            </div>
        </div>
    </section>

    <!--****** Populares ******-->
    <section>

    </section>

    <!--****** Footer ******-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>