<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <!--****** Navbar ******-->
    <header th:replace="/fragments/navbar :: navbar"></header>
    <!--****** Banner Principal ******-->
    <section class="banner-zona-1">
        <img src="../images/banner-zona-2.jpg">
        <h1>Zona Este</h1>
        <p> texto zona</p>
    </section>

<!--****** Actividades ******-->

<section th:replace="/fragments/actividades :: actividades"></section>

<!--****** Footer ******-->
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>