<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <!--****** Navbar ******-->
    <header th:replace="/fragments/navbar :: navbar"></header>

    <!--****** Banner Principal ******-->
    <div id=" carouselExampleSlidesOnly" class="carousel-slide-1" data-bs-ride="carousel">
        <div class=" carousel-uco">
            <div class="carousel-item active">
                <div class="banner">
                    <h1 class="titulo-banner-zona">Valle de Uco</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="descripcion">
        <div class="container">
            <p class="escrito-descripcion"><strong>Rodeado por las altas cumbres de los Andes,</strong> con una
                temperatura
                promedio de 14ºC, una amplitud térmica muy
                alta (15ºC promedio), lluvias anuales de apenas 200 mm y más de 250 días soleados al año, el
                Valle de Uco es un pasaje ideal para ser visitado gracias a la diversidad de actividades que se pueden
                realizar:
                <strong>turismo aventura, religioso, cultural, rural, el contacto con la naturaleza y los Caminos del
                    Vino.</strong>
                <br>Además de las catas de vinos, el Valle de Uco se destaca por su oferta gastronómica la que
                incluye
                restaurantes de la mano de chefs internacionales, restaurantes familiares, y toda la <strong>gastronomía
                    de
                    las posadas, bodegas y resorts,</strong> muchas veces dirigidas por destacados chefs invitados y con
                platos de alta
                cocina.
            </p>
        </div>
    </div>


    <!--****** Actividades ******-->

    <section th:replace="/fragments/actividades :: actividades"></section>

    <div class="descripcion titulo-Act ">
        <h3 class="titulo-3">
            Ultimas recomendaciones en la zona
        </h3>
    </div>
    <div class="container-ultimos">

        <div class="container-ultimos">

        <div class="container-ultimos">
            <div class="list">
                <table class="tabla-ultimas table-striped">
                    <tbody class="tabla">
                        <tr>
                            <td th:each=" c, iterador : ${alojamiento} " th:if="${iterador.index} <= 1">
                                <div class="col">
                                    <img class="imag" th:src="@{'../images/locacion/' + ${c.foto}}">
                                    <h1 class="titub titubzona" th:text="${c.nombre}"></h1>
                                </div>
                                <div class="vermaszona">
                                    <a th:href="@{/alojamiento/alojamiento}+'?id='+${c.id}"
                                        class="nuevoton btn btn-primary">Ver Más</a>
                                </div>
                            </td>
                    </tbody>
                </table>
                <table class="tabla-ultimas table-striped">
                    <tbody class="tabla">
                        <tr>
                            <td th:each=" r, iterador : ${restaurant} " th:if="${iterador.index} <= 1">
                                <div class="col">
                                    <img class="imag" th:src="@{'../images/locacion/' + ${r.foto}}">
                                    <h1 class="titub titubzona" th:text="${r.nombre}"></h1>
                                </div>
                                <div class="vermaszona">
                                    <a th:href="@{/restaurant/restaurant}+'?id='+${r.id}"
                                        class="nuevoton btn btn-primary nuevoton">Ver Más</a>
                                </div>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


        <!--****** Footer ******-->
        <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>