<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <!--****** Navbar ******-->
    <header th:replace="/fragments/navbar :: navbar"></header>



    <!--****** Banner Principal ******-->
    <div id=" carouselExampleSlidesOnly" class="carousel-slide-2" data-bs-ride="carousel">
        <div class=" carousel-uco">
            <div class="carousel-item active">
                <div class="banner">
                    <h1 class="titulo-banner-zona">Precordillera y Alta Montaña</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="descripcion">
        <div class="container">
            <p class="escrito-descripcion"> Con una gran variedad de paisajes, actividades y servicios; la zona de
            <strong>Precordillera y Alta Montaña</strong> brinda a sus visitantes la posibilidad de conocer lugares emblemáticos con
                gran valor histórico como la <strong>cordillera de los Andes, el Cerro Aconcagua, el Puente del Inca, el Parque
                Provincial Aconcagua o el monumento Cristo Redentor</strong> que marca los límites entre Argentina y Chile; entre
                tantos otros atractivos de esta zona privilegiada con aguas termales, manantiales, arroyos y rios.<br>
                Las actividades protagonistas de esta zona son el trekking, rafting, canopy y las cabalgatas, sin
                olvidar los deportes de invierno que pueden desarrollarse en el <strong>centro de esquí Los Penitentes,</strong> que
                alcanza mayor protagonismo durante el periodo invernal y durante el resto del año funciona como sitio de
                esparcimiento.
            </p>
        </div>
    </div>

    <!--****** Actividades ******-->

    <section th:replace="/fragments/actividades :: actividades"></section>

    
    <div class="descripcion titulo-Act ">
        <h3 class="titulo-3">
            Ultimas recomendaciones en la zona
        </h3>
    </div>
    <div class="container-ultimos">
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d107269.49879656314!2d-68.92677452743375!3d-32.84070161728298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sprecordilera%20mendoza!5e0!3m2!1ses-419!2scl!4v1647471870598!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="list">
            <img src="../images/zonas/vino-copas.jpg" alt="...">
            <h6 class="nombre-lugar">Nombre del Lugar con enlace</h6>
        </div>
    </div>

    <!--****** Footer ******-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>