<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <!--****** Navbar ******-->
    <header th:replace="/fragments/navbar :: navbar"></header>

    <!--****** Banner Principal ******-->
    <div id=" carouselExampleSlidesOnly" class="carousel-slide-1" data-bs-ride="carousel">
        <div class=" carousel-uco">
            <div class="carousel-item active">
                <div class="banner">
                    <h1 class="titulo-banner-zona">Valle de Uco</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="descripcion">
        <div class="container">
            <p class="escrito-descripcion"><strong>Rodeado por las altas cumbres de los Andes,</strong> con una
                temperatura
                promedio de 14ºC, una amplitud térmica muy
                alta (15ºC promedio), lluvias anuales de apenas 200 mm y más de 250 días soleados al año, el
                Valle de Uco es un pasaje ideal para ser visitado gracias a la diversidad de actividades que se pueden
                realizar:
                <strong>turismo aventura, religioso, cultural, rural, el contacto con la naturaleza y los Caminos del
                    Vino.</strong>
                <br>Además de las catas de vinos, el Valle de Uco se destaca por su oferta gastronómica la que
                incluye
                restaurantes de la mano de chefs internacionales, restaurantes familiares, y toda la <strong>gastronomía
                    de
                    las posadas, bodegas y resorts,</strong> muchas veces dirigidas por destacados chefs invitados y con
                platos de alta
                cocina.
            </p>
        </div>
    </div>


    <!--****** Actividades ******-->

    <section th:replace="/fragments/actividades :: actividades"></section>

    <div class="descripcion titulo-Act ">
        <h3 class="titulo-3">
            Ultimas recomendaciones en la zona
        </h3>
    </div>
    <div class="container-ultimos">
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d107281.99945531203!2d-68.85536330423625!3d-32.83035568992213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2scl!4v1647471713953!5m2!1ses-419!2scl"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="list">
            <table class="table table-dark table-striped">
                <tbody class="tabla">
                    <tr th:each=" c : ${alojamiento}" th:if="${iterador.index} <= 1">
                        <div class="tabla espacios" id="secwrapper">
                            <section>
                                <div class="place">
                                    <div class="row">
                                        <div class="col">
                                            <img class="imag" th:src="@{'../images/locacion/' + ${c.foto}}">
                                        </div>
                                        <div class="col">
                                            <h1 class="titub" th:text="${c.nombre}"></h1>
                                            <!--<p th:text="'Zona: ' + ${c.zona.nombre}"></p>-->
                                            <p th:text="'Domicilio: ' + ${c.domicilio}"></p>
                                            <p th:text="'Teléfono: ' + ${c.telefono}"></p>
                                            <p th:text="'Web: ' + ${c.web}"></p>
                                            <p th:text="'Rango de precios: ' + ${c.rangoDePrecios}"></p>
                                            <p th:text="'Tipo Alojamiento: ' + ${c.TipoAlojamiento}"></p>

                                        </div>

                                        <div class="col">
                                            <h1 class="titub"></h1>
                                            <p th:text="${c.aireAcondicionado} ? 'A/C: Si' : 'A/C: No'"></p>
                                            <p th:text="${c.wifi} ? 'WiFi: Si' : 'WiFi: No'"></p>
                                            <p
                                                th:text="${c.estacionamiento} ? 'Estacionamiento: Si' : 'Estacionamiento: No'">
                                            </p>
                                            <p th:text="${c.desayuno} ? 'Desayuno: Si' : 'Desayuno: No'"></p>
                                            <p th:text="${c.pileta} ? 'Pileta: Si' : 'Pileta: No'"></p>
                                        </div>
                                        <div class="vermas">
                                            <a th:href="@{/alojamiento/alojamiento}+'?id='+${c.id}"
                                                class="boton btn btn-primary">Ver Más</a>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </tr>
                </tbody>
                <p th:if="${alojamiento.isEmpty}">No hay alojamientos para mostrar</p>
            </table>
        </div>
    </div>

    <section class="lugares-z1">
        <div class="luagares">

        </div>
    </section>



    <!--****** Footer ******-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>