<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <!--****** Navbar ******-->
    <header th:replace="/fragments/navbar :: navbar"></header>

    <!--****** Banner Principal ******-->
    <div id=" carouselExampleSlidesOnly" class="carousel-slide" data-bs-ride="carousel">
        <div class=" carousel-uco">
            <div class="carousel-item active">
                <div class="banner">
                    <h1 class="titulo-banner-zona">Gran Mendoza</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="descripcion">
        <div class="container">
            <p class="escrito-descripcion">El <strong>Gran Mendoza</strong> es la ciudad más importante de la región de Cuyo y la cuarta
                en población de la República Argentina.
                <br>
                Los espacios verdes son uno de los mayores orgullos de los mendocinos, que demuestran el
                valor del trabajo humano combatiendo el desierto. La bulliciosa y dinámica ciudad encuentra descanso en
                sus hermosas plazas. Entre los atractivos de esta zona encontramos el <strong>Parque General San Martín,</strong> con sus
                característicos Portones de Entrada que fueron importados de Francia a principios del siglo pasado, el
                <strong>cerro de la Gloria,</strong> donde está enclavado el Monumento homónimo, que rememora la gesta sanmartiniana; el
                <strong>Zoológico,</strong> único en su tipo, por la amplitud del paseo y el aire puro en el que viven los animales; el
                <strong>Teatro Griego Frank Romero Day,</strong> incomparable escenario donde se celebra el Acto Central de <strong>La Fiesta
                Nacional de la Vendimia.</strong>
                <br>
                Una variedad de iglesias testimonian estilos y épocas de construcción. Varios museos dan cuenta del
                pasado de la Provincia o exhiben colecciones de ciencias naturales y antropológicas.
                <br>
                La extensa y variada agenda cultural está representada principalmente por:<br>
                <strong>Fiesta Nacional de la Vendimia,</strong> cuya culminación se realiza la noche del primer fin de semana de marzo,
                pero desde enero que se realizan actividades culturales, artísticas y deportivas.<br>
                <strong>Cantapueblo,</strong> encuentro de coros con representantes de todo el mundo, que se realiza en Octubre.
                Para los amantes del fútbol, importantes encuentros de los mejores clubes de Argentina, se realizan en
                los meses de enero y febrero, en el <strong>Estadio Mundialista “Islas Malvinas”.</strong><br>
                Bien conectado y a pocos minutos en auto u ómnibus del Gran Mendoza está el departamento de <strong>Lavalle</strong>,
                ubicado al noroeste de la provincia. Allí se aprecia el contraste de paisajes entre el oasis y grandes
                espacios áridos vivos y ondulantes dunas de arena. Lavalle encanta a los turistas con su desierto, sus
                hacedores culturales e identidad.

            </p>
        </div>
    </div>

    <!--****** Actividades ******-->

    <section th:replace="/fragments/actividades :: actividades"></section>

    <!--****** Footer ******-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>