<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <!--****** Navbar ******-->
    <header th:replace="/fragments/navbar :: navbar"></header>



    <!--****** Banner Principal ******-->
    <div id=" carouselExampleSlidesOnly" class="carousel-slide" data-bs-ride="carousel">
        <div class=" carousel-uco">
            <div class="carousel-item active">
                <div class="banner">
                    <h1 class="titulo-banner-zona">Precordillera y Alta Montaña</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="descripcion">
        <div class="container">
            <p class="escrito-descripcion"> Con una gran variedad de paisajes, actividades y servicios; la zona de
                Precordillera y Alta Montaña brinda a sus visitantes la posibilidad de conocer lugares emblemáticos con
                gran valor histórico como la cordillera de los Andes, el Cerro Aconcagua, el Puente del Inca, el Parque
                Provincial Aconcagua o el monumento Cristo Redentor que marca los límites entre Argentina y Chile; entre
                tantos otros atractivos de esta zona privilegiada con aguas termales, manantiales, arroyos y rios.
                Las actividades protagonistas de esta zona son el trekking, rafting, canopy y las cabalgatas, sin
                olvidar los deportes de invierno que pueden desarrollarse en el centro de esquí Los Penitentes, que
                alcanza mayor protagonismo durante el periodo invernal y durante el resto del año funciona como sitio de
                esparcimiento.
            </p>
        </div>
    </div>

    <!--****** Actividades ******-->

    <section th:replace="/fragments/actividades :: actividades"></section>

    <!--****** Footer ******-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>