<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <!--****** Navbar ******-->
    <header th:replace="/fragments/navbar :: navbar"></header>

    <!--****** Banner Principal ******-->
    <div id=" carouselExampleSlidesOnly" class="carousel-slide" data-bs-ride="carousel">
        <div class=" carousel-uco">
            <div class="carousel-item active">
                <div class="banner">
                    <h1 class="titulo-banner-zona">Zona Este</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="descripcion">
        <div class="container">
            <p class="escrito-descripcion">
                Los impactantes trazados geométricos de fincas, chacras y viñedos de los departamentos de <strong>San Martín,
                Junín, Rivadavia, Santa Rosa y La Paz</strong> son el paisaje característico de esta zona que, además, es la de
                mayor extensión de viñedos de Mendoza.<br>
                El Este es uno de los más extensos oasis de Mendoza, que va desde el río Mendoza hasta el río
                Desaguadero, límite con la provincia vecina de San Luis.<br>
                Esta zona, puede ser dividida en dos sectores. Por un lado, el que ocupa el <strong>Oasis Mendoza Norte,</strong> que al
                extenderse hacia el Este, (villa cabecera de La Paz), dibuja un mapa de colmenares, viñedos, bodegas y
                agroindustrias, entre otras. El otro sector, está compuesto en su mayoría por un desierto, llamado
                <strong>Llanura de la Travesía,</strong> siendo algunas zonas ricas en yacimientos petrolíferos.<br>
                Fue ésta la tierra que eligió el <strong>General San Martín</strong> para construir su chacra y hogar rural, anhelando a
                su retorno el merecido reposo del guerrero.<br>
                El encuentro con la naturaleza asombra por su virginidad en Santa Rosa en la <strong>Reserva de la Biosfera de
                Ñacuñan, en Las Catitas,</strong> permitiendo recrearse con la fauna y la flora típica del monte, para
                experiencias de ecoturismo. Es un área mundial <strong>protegida por la UNESCO</strong> con miles hectáreas de bosques de
                algarrobo y jarilla junto a puesteros con sus típicos usos y costumbres.<br>
                Sin duda es el espejo de agua del <strong>Embalse El Carrizal</strong> el punto de reunión veraniega con actividades de
                motonáutica, esquí acuático, navegación a vela y pesca deportiva.<br>
                Imperdible <strong>gastronomía</strong> típica con nombres que aún perduran como el cadillo de charqui, locro, pastel de
                papas, humita en chala o la olla, patitas aliñadas, mazamorra dulzona, arrope de uva, sapaipillas, dulce
                de alcayota, tortitas con chicharrones, carne a la masa, asado criollo o ternera con cuero, por supuesto
                acompañados con el mejor vino.<br>
                Diversos festivales, componen una interesante agenda:<br>
                A principios de Febrero, <strong>“Rivadavia le canta al país”,</strong> festival de canto folclórico a nivel nacional.
                En la segunda quincena de Marzo, <strong>“Festival de la Cueca y el Damasco”</strong> en La Dormida, Santa Rosa.
                Folclórico.<br>
                En la segunda quincena de Abril, <strong>“La pisada del Vino de las Reinas”</strong> en Junín, que consta en la obtención
                de vino casero por parte de las Reinas Vendimiales, llamado vino patero o “Cabernet de las Reinas”.<br>
                En Noviembre, en Luján de Cuyo, <strong>“Feriagro”,</strong> exposición de productos agrícolo-ganaderos y música.
            </p>
        </div>
    </div>

    <!--****** Actividades ******-->

    <section th:replace="/fragments/actividades :: actividades"></section>

    <!--****** Footer ******-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>